PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/nutracore
JWT_SECRET=nutracore_secret_key_2026_tfg_muy_segura
CLIENT_URL=http://localhost:5173
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
